.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;  
    align-items: center;
}

.text-section {
       color: #fff;
    width: 380px;
    height: 260px;
}
.main-text h1{
    font-size: 35px;
    font-weight: bold;
    font-family: Graphik;
    padding:0px 20px;

}
.main-text p{
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    padding: 15px 20px
}
 
.main-text ul li a{
   
    text-decoration: none;
    color: #fff;
    background-color: #D3E97A;
    padding:5px 15px;
    border-radius: 50px;
    margin-left: 15px;
}
.main-text ul li {
list-style: none;
}

.img-section img{
  border-radius: 10px;
    height: 400px;
}

ul{
    display: flex;
    gap: 20px;
}


@media (min-width: 768px){
    .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;  
    align-items: center;
}

.text-section {
       color: #fff;
    width: 380px;
    height: 260px;
}
.main-text h1{
    font-size: 50px;
    font-weight: bold;
    font-family: Graphik;
}
.main-text p{
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 20px;
}
 
.main-text ul li a{
   
    text-decoration: none;
    color: #fff;
    background-color: #D3E97A;
    padding:5px 15px;
    border-radius: 50px;
}
.main-text ul li {
list-style: none;
}

.img-section img{
  border-radius: 10px;
    height: 400px;
}
ul{
    display: flex;
    gap: 20px;
}
}